.planos {
  margin: 0 auto;
  padding: 165px 171px;
  position: relative;
}

.planos h2::before {
  content: "";
  display: block;
  width: 1420px;
  height: 1px;
  top: 90px;
  background: #4b4b4b;
  position: absolute;
}

.container-planos {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  align-items: center;
  gap: 85px;
}

.planos h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 56px;
  font-weight: 600;
  line-height: 110%; /* 61.6px */
  margin-bottom: 75px;
}

.plano-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 75px;
  background-color: #000;
  padding: 80px 100px;
  border-radius: 5px;
  border: 2px solid #434343;
}

.plano-item img {
  max-width: 212px;
  max-height: 153px;
}

.plano-titulo {
  color: #60e772;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 110%;
  text-wrap: nowrap;
}

.plano-preco {
  color: #d4d4d4;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 110%; /* 28.6px */
  margin-top: -35px;
}

.plano-botao {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;

  padding: 12px 24px;
  border-radius: 6px;
  background: #47464a;
}

.plano-principal {
  padding: 80px 20px;
  border: 2px solid var(--brand-color);
  height: 685px;
  max-height: 685px;
}

.plano-principal a {
  border-radius: 6.06px;
  background: var(
    --grandient-green,
    linear-gradient(89deg, #5fe36a 0%, #64fa9b 100%)
  );
  color: #000;
  font-weight: 600;
}

@media (max-width: 1750px) {
  .planos h2::before {
    content: "";
    display: block;
    width: 1098px;
    height: 1px;
    top: 90px;
    background: #4b4b4b;
    position: absolute;
  }

  .plano-item {
    padding: 80px 40px;
  }

  .plano-principal {
    min-width: 350px;
  }

  .plano-titulo {
    font-size: 22px;
  }

  .plano-preco {
    font-size: 16px;
  }

  .plano-botao {
    text-wrap: nowrap;
  }
}

@media (max-width: 450px) {
  .planos {
    padding: 40px 35px;
  }

  .planos h2 {
    font-size: 38px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .planos h2::before {
    display: none;
  }

  .plano-item {
    order: 2;
    height: 100%;
    gap: 50px;
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .plano-principal {
    order: 1;
    gap: 50px;
    height: 100%;
    padding-top: 35px;
    padding-bottom: 0;
  }

  .container-planos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 35px;
  }
}

@media (max-width: 400px) {
  .plano-item {
    min-width: 100%;
    padding: 50px;
  }

  .plano-item img {
    max-width: 100px;
    max-height: 100px;
  }

  .plano-item img {
    max-width: 100px;
  }

  .plano-titulo {
    font-size: 18px;
  }

  .plano-preco {
    font-size: 14px;
  }

  .plano-botao {
    padding: 8px 18px;
    font-size: 12px;
  }
}
