.info {
  min-height: 900px;
  padding: 165px 171px;
  background-image: url(../assets/background.jpg);
}

.info h1 {
  max-width: 15ch;
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%; /* 70.4px */
}

.info p {
  color: #d7d7d7;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 160%; /* 35.2px */
  max-width: 50ch;
  margin-top: 75px;
}

.button:hover {
  opacity: 0.8;
}

@media (max-width: 450px) {
  .info {
    padding: 40px 35px;
    min-height: 100%;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .info h1 {
    font-size: 42px;
    font-weight: 700;
  }

  .info p {
    font-size: 18px;
    max-width: 40ch;
    color: white;
  }

  .button {
    font-size: 16px;
    padding: 8px 16px;
  }
}
